@media only screen and (max-device-width: 600px) {
    * {
        padding: 0;
        margin: 0;
    }

    .navbar {
        height: 40px;
        padding: 2px;
        font-size: 10px;
    }

    .logo {
        padding-left: 20px;
        font-size: 20px;
    }

    .bar {
        padding-right: 20px;
    }

    .bar button {
        display: block;
    }

    .bar_list {
        display: none;
        position: absolute;
    }

    .navbar ul {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .navbar div ul li {
        text-align: center;
        padding-top: 12px;
        padding-right: 10px;
        height: 0px;
        width: 0px;
        font-size: 10px;

    }

    /*Footer*/
    footer {
        font-size: 10px;
        padding: 0px;
        height: 40px;
        gap: 10px;
    }


    .footer_left,
    .footer_right {
        gap: 1px;
    }

    /* Home */
    .Mid {
        padding: 80px 50px 50px 50px;
    }

    .text {
        width: 250px;
    }

    .text p {
        font-size: 30px;
    }

    img {
        height: 100px;
        width: 100px;
        border-radius: 10px;
    }

    .Mid button {
        font-size: 15px;
        border-radius: 10px;
        width: 100px;
        height: 40px;
        margin: 250px 0 0 0;

    }

    .Mid button:hover {
        background-color: red;
        transition: 0.2;
    }

    .Mid a {
        text-decoration: none;
        color: white;
    }

    .iconlist {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 100px;
    }

    .iconlist button {
        height: 50px;
        width: 50px;
    }

    /*About*/
    .About_top {
        padding-top: 40px;
        gap: 30px;
    }

    .About_me {
        width: 150px;
    }

    .About_me_pic {
        width: 120px;
        height: 200px;
    }

    .About_me_header {
        font-size: 20px;

    }

    .About_me p {
        font-size: 12px;
        margin-top: 10px;
    }

    .I_am_good_at {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        padding-top: 5px;
    }

    .I_am_good_at div {
        font-size: 12px;
    }

    .CV {
        font-size: 12px;
    }

    .My_education_and_Work_experience {
        display: grid;
    }


    .Education_header,
    .Work_experience_header {
        font-size: 18px;
    }

    .Where_I_study_list,
    .Where_I_worked_list {
        width: 250px;
        font-size: 10px;
    }

    .Where_I_study_list span,
    .Where_I_worked_list span {
        font-size: 15px;

    }

    .Where_I_study_list_date,
    .Where_I_worked_list_date {
        font-size: 8px;
    }

    .Where_I_study_list p,
    .Where_I_worked_list p {
        font-size: 10px;
    }

    /* service */

    .Service_top_body {
        display: grid;
        gap: 30px;
    }

    .Service_top_body div {
        width: 250px;
        padding: 12px;
    }

    .Service_top_body span {
        font-size: 15px;
    }

    .Service_top_body p {
        font-size: 12px;

    }

    /*Contact*/
    input[type=text],
    input[type=email],
    textarea[type=text],
    select {
        width: 250px;
        padding: 12px 10px;
        margin: 8px 0;
    }

    .Contact_body {
        display: flex;
        padding-top: 50px;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        background-color: orange;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form p {
        font-size: 30px;
        padding-bottom: 20px;
        font-weight: bold;
    }

    .form button {
        height: 40px;
        width: 100px;
        margin-top: 20px;
        font-size: 15px;
        font-weight: bolder;
        transition: 0.2s ease-in-out;
    }

    .form button:hover {
        color: white;
        background-color: rgb(7, 169, 190);
    }
}